/* Aplicado para todo site */
*{
    background-color: peachpuff;
    color: rgb(51, 36, 24);
    text-align: center;
    font-size: 120%;
    padding: 0;
    margin: 0;
}

/* titulo */

.letra_titulo{
    font-size: 10px;
}

.titulo{
    border: solid;
    margin: 4%;
    padding: 2%;
}

/* Lu */

.cadastro{
    border: solid;
    font-size: 170%;
    margin: 4%;
}

.enpute{
    width: 60%;
    height: 60%;
}

.tela{
    width: 80%;
}

/* tabelas */

.tabela{
    font-size: 50%;

}

td{
float: left;
}

/* todos botões */

.botão{
    font-size: 90%;
}