
/* Aplicado para todo site */
*{
background-color: peachpuff;
color: rgb(51, 36, 24);
text-align: center;
padding: 0;
margin: 0;
}

/* titulo */
.I{
margin: 4%;
font-size: 2em;
border: solid;
}


/* link do titulo*/
.link{
text-decoration: none;
}


/* formulario */
.II{
margin: 4%;
border: solid;
}


/* formulario nome e Email */
.II_i{
margin: 4%;
border: solid;
}

.II_i input{
width: 60%;
font-size: 300%;
}

.II_i label{
font-size: 350%;
}


/* Todos botões */
.botão{
font-size: 200%;
}
.botão:hover,.botão:focus{
background-color: rgb(51, 36, 24);
color: peachpuff;
font-size: 2.5em;
}

table{
    align-items: center;
    text-align: center;
}