*{
    background-color: peachpuff;
    color: rgb(51, 36, 24);
    text-align: center;
    text-decoration-style: none;
    font-size: 120%;
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

a{text-decoration-style: none;}

h1{
    font-size: 250%;
    align-items: center;
    width: 100%;
    
}

div{
    border: solid;
    margin: 4%;
}

.enviar:hover{
    background-color: rgb(51, 36, 24);
    color: white;
}

.en:hover{
    background-color: rgb(51, 36, 24);
    color: white;
}
input{
    width: 60%;
}