*{
    background-color: peachpuff;
    color: rgb(51, 36, 24);
    text-align: center;
    font-size: 120%;
    padding: 0;
    margin: 0;
}

h1{
    font-size: 250%;
}

div{
    border: solid;
    margin: 4%;
}

<<<<<<< HEAD

.env:hover{
=======
.enviar:hover{
    background-color: rgb(51, 36, 24);
    color: white;
}

.apagar:hover{
>>>>>>> 0f1cf78ec185bc62093d8e57f94de40a11f33821
    background-color: rgb(51, 36, 24);
    color: white;
}