*{
    background-color: peachpuff;
    color: rgb(51, 36, 24);
    text-align: center;
    font-size: 120%;
    padding: 0;
    margin: 0;
}

h1{
    font-size: 250%;
}

div{
    border: solid;
    margin: 4%;
}

.enviar:hover{
    background-color: rgb(51, 36, 24);
    color: white;
}

.apagar:hover{
    background-color: rgb(51, 36, 24);
    color: white;
}