/* todo site*/
*{
    background-color: peachpuff;
    color: rgb(51, 36, 24);
    text-align: center;
    padding: 0;
    margin: 0;
}

/* colocar no site */
#caixa{
    font-size: 300%;
    border: solid;
    margin: 4%;
}
.link{
    border: solid;
    font-size: 130%;
    text-decoration: none;
}

.link_video{
    border: solid;
    font-size: 130%;
    text-decoration: none;
}

.link_video:hover{
    font-size: 150%;
    background-color: rgb(51, 36, 24);
    color: peachpuff;
    text-decoration: none;
}

.letra_titulo strong{
    font-size: 55%;
}

.video{
    border: solid;
    margin: 3%;
}

.arquivocarregado #verde{
    color: green;
    font-size: 120%;
}

.arquivocarregado #vermelho{
    color: red;
    font-size: 120%;
}

#butao{
    font-size: 200%;
}

#butao.ativo{
    background-color: green;
    color: white;
}

#butao.desativado{
    background-color: red;
    color: white;
}

.letra_documento #file{
    font-size: 100%;
}
.linkII{
    font-size: 100%;
}
.linkII:hover, .link:hover{
    color: peachpuff;
    background-color: rgb(51, 36, 24);
    font-size: 150%;

}